@font-face {
  font-family: "vollkorn";
  src: url("/fonts/vollkorn/Medium.woff2") format("woff2");
}

@font-face {
  font-family: "vollkorn";
  font-weight: 700;
  src: url("/fonts/vollkorn/Bold.woff2") format("woff2");
}

@font-face {
  font-family: "garamond";
  src: url("/fonts/garamond/Regular.woff2") format("woff2-variations");
  font-weight: 400 800;
}

@font-face {
  font-family: "garamond-it";
  src: url("/fonts/garamond/Italic.woff2") format("woff2-variations");
  font-weight: 400 800;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-style: italic;
}
