@font-face {
  font-family: "vollkorn";
  src: url("/fonts/vollkorn/Medium.woff2") format("woff2");
}

@font-face {
  font-family: "vollkorn";
  font-weight: 700;
  src: url("/fonts/vollkorn/Bold.woff2") format("woff2");
}

@font-face {
  font-family: "lato";
  src: url("/fonts/lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "garamond";
  src: url("/fonts/garamond/Regular.woff2") format("woff2-variations");
  font-weight: 400 800;
}

@font-face {
  font-family: "garamond";
  src: url("/fonts/garamond/Italic.woff2") format("woff2-variations");
  font-weight: 400 800;
}
