*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%; /* For the index page, so that `cover` always fills the full height of the window even when the text doesn't */
}

body {
  margin: 0;
  font: 100 17px / 1.4 garamond;
  color: #323140;
  background-color: #f2f2f2;
}

h1,
h2 {
  margin: 0;
  font-size: 1.3em;
}

h2.second-line {
  font-size: 1em;
}

a {
  color: #2c3673;
}

a.basic-button {
  display: inline-block;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  margin: 1em 0;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: #f2f2f2;
  background-color: #232226;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.center {
  text-align: center;
}

form {
  padding-top: 1em;
  width: 30rem;
  max-width: calc(100% - 1rem);
  font-size: max(17px, 0.5em);
  --bg: #090c0d33;
  --bg-active: hsl(30, 14%, 97%);
  --outline: #fff;
  --shadow: 0 3px 6px #0004;
}

form div {
  display: flex;
  box-shadow: var(--shadow);
  border-radius: 0.3em; /* we need this for the box shadow… */
}

/* and these for the focus outline… */
form div > :first-child {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
form div > :last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

input {
  padding: 0.3em 0.4em 0.2em;
  border: 0;
  font: inherit;
  color: inherit;
  background: var(--bg);
}

/* avoid the brief flash of yellow in some browsers */
input:-webkit-autofill,
textarea:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset !important;
  box-shadow: var(--shadow) inset !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.595) !important;
}

input:focus-visible {
  outline: 2px solid var(--outline);
  outline-offset: -2px;
}

input[type="email"] {
  width: 100%;
}

input[type="submit"] {
  width: auto;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus-within,
input[type="submit"]:active {
  background: var(--bg-active);
  box-shadow: 0 0.1em 1em hsl(350, 33%, 70%);
  color: #090c0dad;
}

input[type="submit"]:disabled {
  opacity: 0.5;
  pointer-events: none;
}
