#email {
  background-color: #090c0d;

  picture,
  img,
  source {
    width: 100%;
  }

  #banner {
    position: absolute;
    inset: 10em 8em;
    font-size: min(2vw, 1.2em);
    font-family: garamond;
    color: rgba(255, 255, 255, 0.595);
  }

  h1 {
    font: 100 4em / 0.5 garamond;
  }

  p {
    font-weight: 100;
    font-family: garamond;
    margin: 1em 0 0.2em 0;
    font-size: max(17px, 1.2em);
  }

  @media (max-width: 575px) {
    #banner {
      position: absolute;
      inset: 10em 3em;
      font-size: min(2vw, 24px);
      font-family: garamond;
      color: rgba(255, 255, 255, 0.595);
    }
    p {
      margin: 0.9em 0 0.9em 0;
    }
    form {
      padding-top: 0;
      --bg: #090c0dad;
    }
  }
}
