#remembering-the-village {
    margin-top: 5em;
}

.remembering-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". .  p p p p i i i i . ."
        ". . p2 p2 p2 p2 d d d d . .";
    place-items: center;
    margin: 3em 0 0 0;
}
.remembering-card p {
    font-size: clamp(16px, 1.3vw, 24px);
}

.remembering-p-box {
    grid-area: p;
    margin: 1em 0 1em 0;
}
.remembering-p2-box {
    grid-area: p2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.remembering-p2-box img {
    margin: 0 0 2em 0;
    width: 100%; /* Adjust as needed */
    height: auto;
    display: block;
}

.remembering-i-box {
    grid-area: i;
    margin: 3rem 3rem 3rem 1rem;
    align-self: center;
}

.remembering-d-box {
    grid-area: d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    margin: 0rem 0rem 0rem 1rem;
    padding: 3rem 0rem 8rem 0rem;
}

.remembering-d-box p {
    /* margin: 0; */
}

@media (max-width: 800px) {
    .remembering-card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". p p p p p p p p p p ."
            ". i i i i i i i i i i ."
            ". d d d d d d d d d d ."
            ". p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 .";
        align-content: center;
        margin: 0;
        padding: 3em 0em 0em 0em;
    }

    .remembering-p-box img {
        width: 100%;
        margin: 0;
    }
    .remembering-p2-box img {
        margin: 1em 0em 1em 0em;
        width: 100%;
    }
    .remembering-i-box {
        margin: 0rem 0rem 0rem 0rem;
        align-self: center;
        width: 100%;
    }
    .remembering-d-box {
        display: inline-block;
        /* align-self: center; */
        width: 100%;
        margin: 0rem 0rem 0rem 0rem;
        padding: 0;
    }
    .remembering-d-box p {
        /* margin: 0; */
    }
}
