*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body {
    margin: 0;
    background-color: #f2f2f2;
}

@font-face {
    font-display: block;
    font-family: "vollkorn";
    src: url("/fonts/vollkorn/Medium.woff2") format("woff2");
}

@font-face {
    font-display: block;
    font-family: "vollkorn";
    font-weight: 700;
    src: url("/fonts/vollkorn/Bold.woff2") format("woff2");
}
