h1,
h2,
h3,
p {
    font-family: vollkorn;
    color: #323140;
    font-size: 1em;
}
h1 {
    font-family: vollkorn;
    margin: 0;
    font-size: 1.3em;
    color: #232226;
}

a {
    color: #2c3673;
}

#info-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . photo photo photo photo info info info info info .";
    place-items: center;

    --peek: 0em; /* Make this bigger to have something peek in at the bottom */
    min-height: calc(100vh - var(--peek));
}

.info-card-img-box {
    grid-area: photo;
}

.info-card-img-box img {
    /* border-radius: 50%; */
}

.info-card-info-box {
    grid-area: info;
    margin: 3rem 3rem 3rem 1rem;
    align-self: center;
}

@media (max-width: 800px) {
    #info-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "photo"
            "info";
        align-content: center;
        margin: 0;
        padding: 3em 3em 0em 3em;
    }

    .info-card-img-box img {
        margin: 0;
    }
    .info-card-info-box {
        grid-area: info;
        margin: 2rem 3rem 3rem 1rem;
        align-self: center;
    }
}
