h1,
h2,
h3,
p {
    font-family: vollkorn;
    color: #323140;
    font-size: 0.8em;
}
h1 {
    font-family: vollkorn;
    margin: 0;
    font-size: 1.3em;
    color: #232226;
}
h2 {
    font-family: vollkorn;
    margin: 0;
    font-size: 1.3em;
    color: #232226;
}

h2.second-line {
    font-family: vollkorn;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #232226;
}

.center {
    text-align: center;
}

a {
    color: #2c3673;
}

a.basic-button {
    display: inline-block;
    background-color: #232226;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em 2em;
    margin: 1em 0;
    color: #f2f2f2;
    font-weight: 400;
    text-decoration: none;
}

#info-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . p p p p i i i i i .";
    place-items: center;

    --peek: 0em; /* Make this bigger to have something peek in at the bottom */
    min-height: calc(100vh - var(--peek));
}

.info-card-img-box {
    grid-area: p;
}

.info-card-info-box {
    grid-area: i;
    margin: 3rem 3rem 3rem 1rem;
    align-self: center;
}

@media (max-width: 800px) {
    #info-card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            ". p p p p p p p p p p ."
            ". i i i i i i i i i i .";
        align-content: center;
        margin: 0;
        padding: 3em 0em 0em 0em;
    }

    .info-card-img-box img {
        width: 100%;
        margin: 0;
    }
    .info-card-img-box img {
        margin: 0;
        width: 100%;
    }
    .info-card-info-box {
        grid-area: i;
        margin: 2rem 0rem 0rem 0rem;
        align-self: center;
        width: 100%;
    }
}
