#the-weave-continues {
  max-width: 755px;
  margin: 0 auto;
  padding: 20px;

  p {
    margin: 10px 0 10px;
    padding: 10px;
    font-size: 1em;
  }

  h2 {
    background-color: #3a419f7e;
    font-family: fondamento;
    font-size: 2.2em;
    margin: 40px 0 20px 0;
  }

  h3 {
    font-family: fondamento;
    padding: 0;
    margin: 20px 0 10px 0;
    font-size: 1.7em;
  }

  h4 {
    font-family: fondamento;
    font-size: 1.3em;
    margin: 40px 0 0px 0;
  }
  .past-event-names {
    grid-column: 1 / -1;
    font-family: fondamento;
    font-size: 2em;
    margin: 60px 0 10px 0;
  }

  #intro {
    max-width: 1000px;
  }
  #guide {
    max-width: 1000px;
  }
}
