<section class="wc-section" aria-labelledby="wc-community">
  <div class="content wide">
    <h2 id="wc-community" class="wc-title">Community and connection</h2>
    <div class="wc-prose">
      <p>Places to stay connected with other weavers: guilds, gatherings, newsletters, and quiet ways of remaining in conversation with the wider community.</p>

      <h3>Alberta Basketry Guild</h3>
      <p>In 2024 we formed the Alberta Basketry Guild, with the help of the late Maryann Borch. We are sustained by the support of Rae Hunter, the Good Note Community Farm, and the wonderful volunteers of the Alberta Basketry Guild. Here are a few links to help connect you to our community.</p>
      <p>We share a free monthly newsletter with all of the upcoming basketry events we know of. You can sign up at <a href="https://albertabasketry.com">albertabasketry.com</a>, and read past emails in the <a href="https://buttondown.com/albertabasketry/archive/">ABG Newsletter Archive</a>.</p>
    </div>
    <ul class="wc-rows">
      <li><strong>Website</strong> &nbsp;<a href="https://albertabasketry.com">albertabasketry.com</a></li>
      <li><strong>Email</strong> &nbsp;<a href="mailto:mail@albertabasketryguild.com">mail@albertabasketryguild.com</a></li>
      <li><strong>Instagram</strong> &nbsp;<a href="https://www.instagram.com/albertabasketryguild">@albertabasketryguild</a></li>
      <li><strong>Facebook group</strong> &nbsp;<a href="https://www.facebook.com/groups/367471581284664">Alberta Natural Baskets</a></li>
    </ul>

    <div class="wc-groups">
      <div>
        <h4 class="label">Other groups &amp; instructors</h4>
        <ul class="wc-rows">
          <li><strong>Sheep Creek Weavers.</strong> South of Calgary, the <a href="https://www.sheepcreekweavers.ca">Sheep Creek Weavers</a> hold occasional workshops and collaborate on lovely projects. Find them on Instagram: <a href="https://www.instagram.com/sheepcreekweavers">@sheepcreekweavers</a>.</li>
          <li><strong>Cathie Harper.</strong> From the Northwest Territories, she joins us each year for Weaving Connections and occasionally teaches with the <a href="http://beaverlodgegallery.com">Beaverlodge Area Cultural Society</a>.</li>
        </ul>
        <h4 class="label">Annual &amp; recurring events</h4>
        <ul class="wc-rows">
          <li><a href="https://www.basketsinthegarden.com">Baskets in the Garden</a> &mdash; a September retreat in Tofield, Alberta.</li>
          <li><a href="https://weavingconnections.albertabasketryguild.com">Weaving Connections</a> &mdash; an annual March retreat at Aspen Ridge Greenhouses, Sherwood Park.</li>
        </ul>
        <h4 class="label">Booking a workshop</h4>
        <div class="wc-prose">
          <p>If you are interested in booking a workshop, the guild keeps a list of instructors and their contact information in the <a href="https://docs.google.com/document/d/1D1XW4qUhjML85bAQQ4liyjJ9gmLWBC50ab0JHsdkHQc/edit?usp=sharing">Instructor Contact List</a>.</p>
        </div>
      </div>
      <div>
        <h4 class="label">Weavers in Alberta on Instagram</h4>
        <ul class="wc-rows">
          <li><a href="https://www.instagram.com/adhbee_3">@adhbee_3</a> &mdash; Elizabeth Attwood</li>
          <li><a href="https://www.instagram.com/alberta_sarah">@alberta_sarah</a> &mdash; Sarah Graham</li>
          <li><a href="https://www.instagram.com/borealbasketry">@borealbasketry</a> &mdash; Marie Pier</li>
          <li><a href="https://www.instagram.com/broomcorn_and_broomsticks">@broomcorn_and_broomsticks</a> &mdash; Kayla Yearwood</li>
          <li><a href="https://www.instagram.com/full_baskets">@full_baskets</a> &mdash; Candice Cullum</li>
          <li><a href="https://www.instagram.com/halfmoonbaskets">@halfmoonbaskets</a> &mdash; Freyja Ulveland</li>
          <li><a href="https://www.instagram.com/katejohannamullin">@katejohannamullin</a> &mdash; Kate Mullin</li>
          <li><a href="https://www.instagram.com/kelseykatrinaa_">@kelseykatrinaa_</a> &mdash; Kelsey Shapka</li>
          <li><a href="https://www.instagram.com/magpie3studio">@magpie3studio</a> &mdash; Lara Felsing</li>
          <li><a href="https://www.instagram.com/miaoscar">@miaoscar</a> &mdash; Mia Coco</li>
          <li><a href="https://www.instagram.com/mimiddesignstudio/">@mimiddesignstudio</a> &mdash; Autumn and Teagan</li>
          <li><a href="https://www.instagram.com/sillylittlemonkeys">@sillylittlemonkeys</a> &mdash; Mandy Leigh</li>
          <li><a href="https://www.instagram.com/swaleandspry">@swaleandspry</a> &mdash; Amber Lee</li>
          <li><a href="https://www.instagram.com/thebeeliberationarmyfolkart">@thebeeliberationarmyfolkart</a> &mdash; Elvira Kotuk</li>
          <li><a href="https://www.instagram.com/studio.tk22">@studio.tk22</a> &mdash; Tania Kristensen</li>
          <li><a href="https://www.instagram.com/wyrdwillow_">@wyrdwillow_</a> &mdash; Lauren Rosinski</li>
        </ul>
      </div>
    </div>

    <div class="wc-groups">
      <div>
        <h4 class="label">Websites of Alberta weavers</h4>
        <ul class="wc-rows">
          <li><a href="https://broomcornandbroomsticks.com">Broomcorn and Broomsticks</a></li>
          <li><a href="https://www.halfmoonbaskets.com">Half Moon Baskets</a></li>
          <li><a href="https://www.taniakristensenstudio.ca">Tania Kristensen Studio</a></li>
          <li><a href="https://wyrdwillow.ca">Wyrd Willow</a></li>
        </ul>
      </div>
      <div>
        <h4 class="label">Buy baskets and brooms</h4>
        <ul class="wc-rows">
          <li><a href="https://www.shopalbertacraft.com/collections/cathie-harper">Cathie Harper</a></li>
          <li><a href="https://www.shopalbertacraft.com/collections/freyja-ulveland">Freyja Ulveland</a></li>
          <li><a href="https://broomcornandbroomsticks.com/collections/all">Broomcorn and Broomsticks</a></li>
          <li><a href="https://www.taniakristensenstudio.ca">Tania Kristensen</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
