<section class="wc-section" aria-labelledby="wc-reading">
  <div class="content wide">
    <h2 id="wc-reading" class="wc-title">Reading and watching</h2>
    <div class="wc-prose">
      <p>A few of the books, videos, and collections that have shaped this work.</p>
    </div>
    <div class="wc-groups">
      <div>
        <h4 class="label">General knowledge</h4>
        <ul class="wc-rows">
          <li><a href="https://baskets2day.com">Baskets2Day.com</a></li>
          <li><a href="https://www.amazon.ca/Complete-Book-Basketry-Techniques/dp/071530934X">Complete Book of Basketry Techniques</a></li>
          <li><a href="https://www.youtube.com/@AlexRooted">Alex Rooted (YouTube)</a></li>
          <li><a href="https://www.youtube.com/@HannaVanAelst">Hanna Van Aelst (YouTube)</a></li>
          <li><a href="https://www.amazon.ca/Willow-Growing-Harvesting-Beautiful-Projects/dp/1911127713">Willow: Growing and Harvesting Willows for Beautiful Projects</a></li>
        </ul>
      </div>
      <div>
        <h4 class="label">Willow techniques</h4>
        <ul class="wc-rows">
          <li><a href="https://www.youtube.com/watch?v=I_WoMEUhZoI">Video tutorial for rope coiling</a></li>
        </ul>
        <h4 class="label">Soft materials</h4>
        <ul class="wc-rows">
          <li><a href="https://www.amazon.ca/Rush-Basketry-Weaving-Eight-Makers/dp/0951111078">Rush Basketry</a></li>
          <li><a href="https://youtu.be/hF6AzV_twBw">Romanian Weaver (YouTube)</a></li>
          <li><a href="https://youtu.be/tGjKRvGH17U">Rush Work Part 1 (YouTube)</a></li>
          <li><a href="https://youtu.be/MvTlnnSoWRI">Rush Work Part 2 (YouTube)</a></li>
          <li><a href="https://youtu.be/YELhnSftwS0">Rush Work Part 3 (YouTube)</a></li>
          <li><a href="https://www.amazon.ca/Wild-Basketry-Baskets-Natural-Cordage/dp/1789942489">Wild Basketry</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
